html {
    cursor: url('images/cursor.png'), default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap');
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #000;
      color: #fff;
      font-family: 'Roboto Mono', monospace;
      overflow-y: hidden;
      overflow-x: hidden;
  }
  
  .kill {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 15px;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
  }
  
  .kill a {
      font-size: 18px;
      padding: 6px;
      border-radius: 100%;
      cursor: pointer;
      transition: 0.2s;
      color: #fff;
  }
  
  .kill a:hover {
      opacity: 40%;
      font-size: 20px;
      color:rgba(255, 0, 0, 0.568);
  }
  
  .main {
      height: 1px;
      width: 100%;
      text-align: right;
      color: #f7f7f7eb;
      letter-spacing: 1px;
      z-index: 9999;
      font-size: 13px;
  }
  
  
  .line {
      height: 3px;
      width: 300px;
      background-color: #fff;
      color: #fff;
  }
  
  .small {
    color: #e8e8e899;
    font-size: 0.9rem;
  }
  
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
  }
  
  #pattern {
    background: transparent url('images/dot.png') repeat 0 0;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    opacity: 1;
  }
  
  #pattern,
  #background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  #background {
    z-index: -2;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 135%;
    min-height: 110%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    overflow: hidden;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
